body{
	background-color: white;
	font-family: 'Arial', sans-serif;
	}

img {
	  max-width: 100%;
    height: auto;
    width: auto/9; 
}

/*menú*/

*{
	margin: 0;
	padding: 0;
}

.caja{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	margin-bottom: -56px;
}

#logo{
	margin: auto;
	margin-top: 5px;
	padding: 1px;
}

header{

	margin-top:15px;
    width: 100%;
    overflow: hidden;
    height: 150px;
    position: relative;
}

nav{
   	top:-20px;
   	position: absolute;
   	left:0;
   	right:0;
	margin:20px auto;
	max-width:1000px;
	width:90%;
	border-radius: 8px;

}

nav ul{
	list-style: none;
	border-radius: 8px;


}

nav > ul {
	display:table;
	width:100%;
	background:white;
	border: 4px solid #00ffaa;
	position:relative;

	
}

nav	> ul li{
	display:table-cell;
	border-radius: 8px;
}

/*sub-menu*/

nav > ul > li:hover > ul{
	display: block;
	height: 100%;
	

}

nav > ul > li > ul {
	display:block;
	position:absolute;
	background:#00ffaa;
	left:0;
	right:0;
	overflow:hidden;
	height:0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul li a {
	color:#000;
	display:block;
	line-height:20px;
	padding:20px;
	position: relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul> li> ul> li a:hover{
	color: white;
	background: #494949;
	border-radius: 8px;
}

nav > ul > li > a span{
	background: #00ffaa;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	top: -54px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;

}

nav > ul > li > a span .icon{
	display: block;
	line-height: 60px;
}

nav > ul > li > a:hover > span{
	top: 0;
	
}



/*textos*/
h2{
	font-family: "arial", sans-serif;
	}

p{
	font-family: "arial", sans-serif;
	line-height: 20px;
	}
/*fin textos*/	

/*contenido*/
.histo{
	margin: auto;
	padding-top: 10px;
	padding-right: 1%;
  	padding-left: 1%;
  	width: 80%;
  	display: flex; 
  	flex-wrap: wrap;
  	flex-direction: column;
  	justify-content: center;
  	align-content: center;
  	align-items: center;
  	font-family: 'Arial',sans-serif;
  	text-align: center;
  	font-size: 20px;
	}

	#historia{
	padding-top: 30px;
	font-size: 40px;
	text-align: center;
	font-family: "airal", sans-serif;
	}

.sobre{
	margin: auto;
	padding-top: 10px;
	padding-right: 1%;
  	padding-left: 1%;
  	width: 80%;
  	display: flex; 
  	flex-wrap: wrap;
  	flex-direction: column;
  	justify-content: center;
  	align-content: center;
  	align-items: center;
  	font-family: 'Arial',sans-serif;
  	text-align: center;
  	font-size: 20px;
	}

	#sob{
		padding-top: 30px;
		font-size: 40px;
		text-align: center;
		font-family: "airal", sans-serif;
		}

.proble{
	margin: auto;
	padding-top: 10px;
	padding-right: 1%;
  	padding-left: 1%;
  	width: 80%;
  	display: flex; 
  	flex-wrap: wrap;
  	flex-direction: column;
  	justify-content: center;
  	align-content: center;
  	align-items: center;
  	font-family: 'Arial',sans-serif;
  	text-align: center;
  	font-size: 20px;
	}

	#pro{
	padding-top: 30px;
	font-size: 40px;
	text-align: center;
	font-family: "airal", sans-serif;
	}

.estra{
	margin: auto;
	padding-top: 10px;
	padding-right: 1%;
  	padding-left: 1%;
  	width: 80%;
  	display: flex; 
  	flex-wrap: wrap;
  	flex-direction: column;
  	justify-content: center;
  	align-content: center;
  	align-items: center;
  	font-family: 'Arial',sans-serif;
  	text-align: center;
  	font-size: 20px;
	}

	#est{
	padding-top: 27px;
	font-size: 40px;
	text-align: center;
	font-family: "airal", sans-serif;
	}

.colom{
	margin: auto;
	padding-top: 15px;
	padding-right: 1%;
  	padding-left: 1%;
  	width: 80%;
  	display: flex; 
  	flex-wrap: wrap;
  	flex-direction: column;
  	justify-content: center;
  	align-content: center;
  	align-items: center;
  	font-family: 'Arial',sans-serif;
  	text-align: center;
  	font-size: 20px;
	}

	#col{
	padding-top: 27px;
	font-size: 40px;
	text-align: center;
	font-family: "airal", sans-serif;
	}

.mision{
	margin: auto;
	padding-top: 45px;
	padding-right: 1%;
  	padding-left: 1%;
  	width: 80%;
  	display: flex; 
  	flex-wrap: wrap;
  	flex-direction: row;
  	justify-content: space-evenly;
  	align-content: space-between;
  	align-items: center;
  	font-family: 'Arial',sans-serif;
  	text-align: left;
  	font-size: 24px;
	}

.vision{
	margin: auto;
	padding-top: 75px;
	padding-right: 1%;
  	padding-left: 1%;
  	width: 80%;
  	display: flex; 
  	flex-wrap: wrap;
  	flex-direction: row-reverse;
  	justify-content: space-evenly;
  	align-content: space-between;
  	align-items: center;
  	font-family: 'Arial',sans-serif;
  	text-align: right;
  	font-size: 24px;
	}

.obje{
	margin: auto;
	padding-top: 55px;
	padding-right: 1%;
  	padding-left: 1%;
  	width: 80%;
  	display: flex; 
  	flex-wrap: wrap;
  	flex-direction: row-reverse;
  	justify-content: space-evenly;
  	align-content: space-between;
  	align-items: center;
  	font-family: 'Arial',sans-serif;
  	text-align: right;
  	font-size: 24px;
	}

.especi{
	margin: auto;
	padding-top: 80px;
	padding-right: 1%;
  	padding-left: 1%;
  	width: 80%;
  	display: flex; 
  	flex-wrap: wrap;
  	flex-direction: row;
  	justify-content: space-evenly;
  	align-content: space-between;
  	align-items: center;
  	font-family: 'Arial',sans-serif;
  	text-align: left;
  	font-size: 24px;
	}

	.ques{
	margin: auto;
	padding-top: 15px;
	padding-right: 1%;
  	padding-left: 1%;
  	width: 80%;
  	display: flex; 
  	flex-wrap: wrap;
  	flex-direction: column;
  	justify-content: center;
  	align-content: center;
  	align-items: center;
  	font-family: 'Arial',sans-serif;
  	text-align: center;
  	font-size: 20px;
	}

	#que{
	padding-top: 27px;
	font-size: 40px;
	text-align: center;
	font-family: "airal", sans-serif;
	}


/*Fin del contenido*/

.tipos1{
	margin: auto;
	padding-top: 45px;
	padding-right: 1%;
  	padding-left: 1%;
  	width: 80%;
  	display: flex; 
  	flex-wrap: wrap;
  	flex-direction: row;
  	justify-content: space-evenly;
  	align-content: space-between;
  	align-items: center;
  	font-family: 'Arial',sans-serif;
  	text-align: left;
  	font-size: 24px;
	}


.tipos2{
	margin: auto;
	padding-top: 75px;
	padding-right: 1%;
  	padding-left: 1%;
  	width: 80%;
  	display: flex; 
  	flex-wrap: wrap;
  	flex-direction: row-reverse;
  	justify-content: space-evenly;
  	align-content: space-between;
  	align-items: center;
  	font-family: 'Arial',sans-serif;
  	text-align: right;
  	font-size: 24px;
	}


.tipos3{
	margin: auto;
	padding-top: 75px;
	padding-right: 1%;
  	padding-left: 1%;
  	width: 80%;
  	display: flex; 
  	flex-wrap: wrap;
  	flex-direction: row;
  	justify-content: space-evenly;
  	align-content: space-between;
  	align-items: center;
  	font-family: 'Arial',sans-serif;
  	text-align: left;
  	font-size: 24px;
	}

.tipos4{
	margin: auto;
	padding-top: 75px;
	padding-right: 1%;
  	padding-left: 1%;
  	width: 80%;
  	display: flex; 
  	flex-wrap: wrap;
  	flex-direction: row-reverse;
  	justify-content: space-evenly;
  	align-content: space-between;
  	align-items: center;
  	font-family: 'Arial',sans-serif;
  	text-align: right;
  	font-size: 24px;
	}



/*imagenes inicio*/

.imagenespe{
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: center;
	width: auto;
	}


.imagenso{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: auto;
	padding-top: 20px;
	}

.imagen{
	display: flex;
	padding-top: 50px;
	flex-direction: row;
	margin: auto;
}

.imagen2{
	display: flex;
	flex-direction: row;
	margin: auto;
}
/* fin imagenes inicio*/

/* comienzo pie de pagina*/

.pie-pagina{
	width: 100%;
	height: 60%;
	background-color: #00ffaa;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px 0px;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.pie-pagina .grupo-1 .box figure{
	width: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
	width: 250px;
}

.pie-pagina .grupo-1 .box h2{
	color: #fff;
	margin-bottom: 5px;
	font-size: 15px;
}
.pie-pagina .grupo-1 .box p{
	color: #efefef;
	margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
	display: inline-block;
	text-decoration: none;
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	margin-right: 10px;
	background-color: #00ffaa;
	text-align: center;
	transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
	color: #434343;
}

.pie-pagina .grupo-2{
	background-color: #00ffaa;
	padding: 15px 10px;
	text-align: center;
	color: #fff;
}
.pie-pagina .grupo-2 small{
	font-size: 15px;
}

@media screen and (max-width: 800px){
	width: 90%;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 30px;
	padding: 35px 0px;
}